<div>
  <div class="container-fluid pv-16">
    <img src="assets/images/circle.png" height="40px" alt="">
  </div>
  <div class="bg-color1">
    <img src="assets/images/banner.jpg" class="poly-design1 img-fluid" alt="">
    <div class="bg-color1 poly-design2"></div>
  </div>
  <div class="container-fluid" style="background-color: lightgray;">
    <div class="pv-16 d-flex justify-content-between">
      <i class="fas fa-hourglass-half fa-2x" style="align-self: center;"></i>&nbsp;&nbsp;
      <b class="pf-20 lh-22 flex-grow-1">Lorem ipsum dolorsitamet, consectetur adipiscing elit <sup>1</sup></b>
    </div>
    <div class="pf-14 pv-16">Lorem ipsum dolorsitamet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore <sup>4-6</sup></div>
  </div>
</div>

<div class="mt-24 main-div">
  <div id="skew1" class="cus-div">
    <div class="content">
      <p class="pf-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
        incididunt ut labore </p>
      <button class="btn" style="background-color: darkslategray;color: white;">Read More</button>
    </div>
  </div>
  <div class="mt-24 whiteText p-16">
    <p>
      Lorem ipsum dolor sit amet
    </p>
    <b>Reference :</b>
    <ol>
      <li> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 2011,184(7).842-847</li>
      <li> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 2011,184(7).842-847</li>
    </ol>
  </div>
</div>

<div class="d-flex justify-content-between p-16">
  <div style="align-self: center;">XX-XXX-100425 Date of preparation Month 2020</div>
  <img src="assets/images/circle.png" height="40px" alt="">
</div>


<router-outlet></router-outlet>