.poly-design1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
}

.bg-color1 {
  background-color: grey;
  padding-bottom: 30px;
}

.main-div {
  background-color: darkslategray;
  min-height: 200px;
}

.cus-div {
  width: 100%;
  position: relative;
}

#skew1 {
  background: #c2c2c2;
  z-index: 9;
}

.cus-div {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: "";
  }
}
#skew1 {
  &:after {
    transform-origin: left bottom;
    transform: skewY(3deg);
  }
}

.content {
  font-weight: bold;
  text-align: center;
  padding: 20px 50px;
  overflow: hidden;
  display: block;
  height: auto;
}
